{% extends 'base.twig' %}

{% block title %}List page - Flight skeleton{% endblock %}

{% block content %}
		<h1>Show all pages</h1>
		<div class="row marketing">
        <div class="col-lg-6">
        {% for idx, page in pages %}
          {% if not idx%2 %}
          <h4>{{page.name}}</h4>
          <p>{{ page.preview_text }}</p>
          <p class="text-right"><a href="{{ routePages['detail.url'] | replace({'#code#': page.code}) }}">Go to detail</a></p>
          {% endif %}
        {% endfor %}
        </div>
        <div class="col-lg-6">
        {% for idx, page in pages %}
          {% if idx%2 %}
          <h4>{{page.name}}</h4>
          <p>{{ page.preview_text }}</p>
          <p class="text-right"><a href="{{ routePages['detail.url'] | replace({'#code#': page.code}) }}">Go to detail</a></p>
          {% endif %}
        {% endfor %}
        </div>
        </div>
{% endblock %}